/* Set margin and padding to 0 to ensure full-screen background color */
html, body {
  margin: 0;
  padding: 0;
}

/* Set background color to cover the full screen */
body {
  background-color: #000066;
  height: 100vh;
}

.menu {
  background-color: #0000ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0 20px;
}

.menu a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  margin-left: 20px;
}

.info {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 50px);
}

.info img {
  width: 150px;
  height: auto;
  margin-right: 20px;
}

.info-text {
  color: white;
  font-size: 24px;
}
